
* {
	box-sizing: border-box;
}

body {
	background-color: #9b59b6;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

@media screen and (min-width: 520px) {

	.form{
		width:600px;
	}
	
	.floating-btn {
		right: 10px;
	}
}